/*
   
  OC CIS 155 Web Development I
  Build on Concepts Final Project
  
  Student Name: Scott Grover
  Date:   11/23/2018

  Filename: flexlayout.css
  
  Supporting files:  form.css, gridlayout.css, multimedia.css, pagelayout.css, table.css

*/
/* 
=================
   Base Styles
=================
*/
/* HTML */

/* Navigation */

nav {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-flex: 1 1 100;
	-moz-box-flex: 1 1 100px;
	-ms-flexbox-flex: 1 1 100px;	
	-webkit-flex: 1 1 100px;
	flex: 1 1 100px;
}

/* Header */

header, footer {     /* Copied from Tutorial */
	width: 100%;
}

header img {
	width: 100%;
}

/* Body */


body {     /* Copied from Tutorial */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-ms-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

form {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	
	-webkit-box-flex: 3 1 100;
	-moz-box-flex: 3 1 100px;
	-ms-flexbox-flex: 3 1 100px;	
	-webkit-flex: 3 1 100px;
	flex: 3 1 100px;
}

header h1{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	
	width: 100%;
}

main {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-ms-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	
	-webkit-box-flex: 3 1 480;
	-moz-box-flex: 3 1 480px;
	-ms-flexbox-flex: 3 1 480px;
	-webkit-flex: 3 1 480px;
	flex: 3 1 480px;
}

section {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	
	-webkit-box-flex: 3 1 380;
	-moz-box-flex: 3 1 380px;
	-ms-flexbox-flex: 3 1 380px;	
	-webkit-flex: 3 1 380px;
	flex: 3 1 380px;
}

/* Div Styles*/

div.formRow { /* From Tutorial 7*/
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	
	margin: 7px 0px;
}

div.formRow > * { /* From Tutorial 7*/
	-webkit-box-flex: 1 1 380;
	-moz-box-flex: 1 1 380px;
	-ms-flexbox-flex: 1 1 380px;
	-webkit-flex: 1 1 380px;
	flex: 1 1 380px;
}

div > img {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	
	-webkit-box-flex: 3 1 380;
	-moz-box-flex: 3 1 380px;
	-ms-flexbox-flex: 3 1 380px;	
	-webkit-flex: 3 1 380px;
	flex: 3 1 380px;
}

aside {

}

/* 
================================
   Mobile Styles: up to 480px 
================================
*/

@media only screen and (min-width: 200px) and (max-width: 480px) {   
	
	article#prayer {
	    display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	
	   -moz-flex-flow: row wrap;
	   -ms-flex-flow: row wrap;
	   -webkit-flex-flow: row wrap;
	    flex-flow: row wrap;
	
		-webkit-box-flex: 3 1 380;
	    -moz-box-flex: 3 1 380px;
	    -ms-flexbox-flex: 3 1 380px;
	    -webkit-flex: 3 1 380px;
	    flex: 3 1 380px;
    }
	
	figure img {
		display: block;
		transform: none;
	}
	
	footer {
		-webkit-order: 100;
		order: 100;
	}
	
	main#compare_bible {
		overflow: auto;
		height: 100%;
	}
	
	main#compare_bible figure {
		display: none;
	}
	
	nav {
		-webkit-order: 99;
		order:99;
		font-size: 1.5em;
	}
	
	table {
		-webkit-order: 98;
		order:98;
	}
	
}	
		
/*
================================
Responsive Table From Tutorial 6
================================
*/
/*
	table, tbody, tr, td, th {
		display: block;
	}
	
	thead, tfoot {
		display: none;
	}
	
	table caption {    I had to create this since the caption showed up at the top of the table in a very wide row.
		display: block;
		padding: 5px;
	    text-align: right;
	}
	
	tbody td {
		position: relative;
		padding-left: 40%;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	td::before {
		content: attr(data-label);
		position: absolute;
		top: 0px;
		left: 0px;
		padding: 5px;
		width: 40%;
	} 
}
*/
/*
======================================
   Tablet Styles: 481px and greater 
======================================	
*/

@media only screen and (min-width: 481px) {

}

/* 
=======================================
   Desktop Styles: 769px and greater
=======================================
*/

@media only screen and (min-width: 769px) {
	
}
	