/*
   
  OC CIS 155 Web Development I
  Build on Concepts Final Project
  
  Student Name: Scott Grover
  Date:   12/01/2018

  Filename: multimedia.css
  Supporting files: flexlayout.css, pagelayout.css 

*/


/* 
=============================
Embedded Videos from YouTube 
=============================
*/

iframe {
	box-shadow: 10px 10px 3px;
	border: none;
	margin: auto;
	padding: 20px;
}

/*
============
Photo Albumn 
============
*/


figcaption {
	font-style: italic;
	font-weight: bold;
	text-align: center;
	
}
     
.photosRight {     /* Modified class to have photos float right. */
	float: right;
	margin-left: 10px; 
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 10px;/*The space to the left of the picture to prevent being crowded by wording.*/
	padding: 10px; /*The space all around the picture*/
}

.photosLeft { /* New Style so photos float left. */
	float: left;
	margin: 10px;
	padding: 10px;
}

.small {
    width: 25%;
}

.med {
    width: 50%;
}

.large {
	margin: auto;
	position: relative;
    width: 100%;
}

img.link:hover {
	opacity: 0.5;
}

img#chapel1 {
	transform: rotate(-10deg)
	           rotateZ(-10deg)
			   translateY(50px);
}

img#chapel2 {
	transform: rotate(20deg)
	           rotateZ(10deg)
			   translateY(75px);
}

img#chapel3 {
	transform: scaleX(1.5)
	           scaleY(1.5);
}

img#chapel4 {
	transform: rotate(-20deg)
	           rotateZ(-5deg)
			   translateX(20px);
}

img#chapel5 {
	transform: rotate(10deg)
	           rotateZ(5deg)
			   translateX(50px);
}

img#chapel6 {
	transform: rotate(-5deg)
	           scaleX(1.25)
			   scaleY(1.25)
	           rotateZ(-10deg)
			   translateX(20px)
			   translateY(20px);
	z-index: 1;
			   
}
img#chapel7 {
	z-index: 0;
	
}

img#chapel8 {
	transform: rotate(5deg)
	           scaleX(1.25)
			   scaleY(1.25)
			   rotateZ(10deg)
			   translateX(-20px)
			   translateY(20px);
}
