/*
   
  OC CIS 155 Web Development I
  Build on Concepts Final Project
  
  Student Name: Scott Grover
  Date:   12/01/2018

  Filename: pagelayout.css
  Supporting files: flexlayout.css, form.css, gridlayout.css, multimedia.css, table.css

*/


/* 
============
Body styles 
============
*/

     /* Made the backgound of page match the background of banner but student comments said that was too much. */
html {
	/*background-color: black;*/
	background-color: gray;
	
}

html#bookshelf {     /* The bookshelf will be repeated for the background for The Bible page. */
	background-image: url("imgs/My_Bibles.png");
	background-repeat: repeat;
	
}

     /* Made the body section ivory to standout.*/
body {
	background-color: ivory;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/*
=================
Navigation Styles
=================
*/
nav {
	float: left;
	margin-right: 20px;
	margin-left: 10px;
}

ul.mainmenu {
	background-color: green;
	list-style-type: none;
	margin: 0px;
	overflow: hidden;
	padding: 0px;
}

ul.submenu{
	list-style-type: none;
	margin-left: 10px;
	overflow: hidden;
	padding: 0px;
}

ul.prayerMenu {
	list-style-type: none;
	margin-top: 30px;
	margin-left: 10px;
	overflow: hidden;
	padding: 0px;
}

li a {
	color: white;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
	text-align: left;
	text-decoration: none;
}

li a:hover {
	color: black;
	background-color: ivory;
}

/*
==============
Header Styles 
==============
*/

header img { /* new style */
	width: 100%;
}

header > h1 {     /*Made the h1 headers centerd in articles and Sections with spaces between the letters.*/
	font-family: "Comic Sans MS", Verdana, sans-serif;
	letter-spacing: 0.5em;  /*kerning*/
	text-align: center;
	background: linear-gradient(rgb(0, 254, 0), rgb(153, 255, 204));
}

article.description h2{
	font-size: 1em;
	text-align: center;
} 

article#prayer h2 {
	-moz-column-span: all;
	-webkit-column-span: all;
	column-span: all;
	text-align: center;
}

/* 
====================
Main Section Styles 
====================
*/

main > article {
	float: left;
	margin-right: 10px;
}

main > aside {
	float: left;
	margin-right: 10px;
}

main#compare_bible {
	display: block;
	overflow: scroll;
	position: relative;
	height: 760px;
}

main#compare_bible img {
	border-radius: 30px;
}

/*
==============
Article Styles
==============
*/
article {
	float: left;
	width: 100%;
}

article p {
    padding-right: 20px;
	padding-left: 10px;
 }
 
 article#beginnings > p::first-letter {     /* Making the first letter in each paragraph 20% bigger than the rest.*/
	font-size: 1.2em;           
}

article#bio li {
	list-style-type: none;
}

article#prayer { /*  New Styles for the prayer_life.html */
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	
	-moz-column-gap: 20px;
	-webkit-column-gap: 20px;
	column-gap: 20px;
	
	column-width: 100px;
	
	-moz-column-rule: 2px solid green;
	-webkit-column-rule: 2px solid green;
	column-rule: 2px solid green;
	
	background-color: palegreen;
	float: left;
	height: 650px;
	overflow: scroll;
	width: 67%;
}

article#prayer blockquote p {
	orphans: 3;
	widows: 3;
}

article#prayer p {
	orphans: 2;
	widows: 3;
}

/*
=================
Blockquote Styles
=================
*/

blockquote.bible {     /* Using blockquotes for biblical passages and I wanted them to stand out. */
	background-color: white;
	display: block;
	margin: 20px;
	padding: 20px;
}

blockquote.bibleJesus  {
	background-color: white;
	display: block;
	margin: 20px;
	padding: 20px;
}

blockquote.bibleJesus p {     /*  Jesus' words are normally in red. */
     color: red;
}

blockquote.columnJesus {     /* Student recomendation to reduce the margins for the blockquotes in the column format*/
	background-color: white;
	display: block;
}

blockquote.columnJesus p {
	color: red;
}

/*
==========
Div Styles
==========
*/

div#prayerAids > img { /*  End of new Styles */
	background-color: blue;
	border-radius: 20px;
	display: block;
	float: left;
	margin: 10px;
	padding: 20px;
}

/*
========
P Styles
========
*/
 
p.first {     /* Made a new class for the first paragraph of a new section to have a border above. */
	border-top-color: hsla(0, 0%, 47%, 0.70);
	border-top-style: solid;
	border-top-width: 5px;
}

/*
=============
Footer Styles
=============
*/

     /* Added a new element called footer for contact info for technical problems */
footer > p {
	color: green;
	padding: 10px;
	text-align: center;
	width: 100%;
}