/*
   
  OC CIS 155 Web Development I
  Build on Concepts Project #3
  
  Student Name: Scott Grover
  Date:   11/12/2018

  Filename: form.css
  Supporting files: pagelayout.css, flexlayout.css

*/


/* 
============
Form styles 
============
*/

form.prayerRequest > fieldset {
	display: block;
	background-color: white;
	float: left;
	padding: 5px;
}
form.prayerRequest legend{
	display: block;
}

input[type='submit'], input[type='reset'] {
	border-radius: 10px;
	padding: 5px;
	margin: 0px 10px;
}
input[type='submit'] {
	float: right;
}

/*
======================
Form Entry Validation
======================
*/

input#fName:focus:invalid, input#lName:focus:invalid, 
input#mail:focus:invalid, textarea#pRequest:focus:invalid, 
input#findBox:focus:invalid {
	background-color: rgb(255, 232, 233);
}

input#fName:focus:valid, input#lName:focus:valid, 
input#mail:focus:valid, textarea#pRequest:focus:valid, 
input#findBox:focus:valid {
	background-color: rgb(220, 255, 220);
}